/* Work Sans Font From Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&display=swap');

/* Shared Styles */
.text-light-gray{
  color: #727272;
}

/* extra  */
.item-cut{
  margin-left: 190px;
}
.item-leader{
  margin-bottom: 30px;
}
.section-title-three{
  color: #131313;
  padding-top: 0px;
  font-size: 2.8rem;
  font-weight: 700;
}


.section-title{
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 190px;
  margin-top: 165px;
}
*{
  font-family: 'Work Sans', sans-serif;
  font-family: 'lato', sans-serif;
  font-family: 'open sans', sans-serif;
}
/* Button Primary Section Shared Styles */
.btn-primary{
  margin: 32px auto;
  margin-bottom: 50px;
  /* display: flex; */
  border-radius: 8px;
  color: #fff;
  background: #FF900E;
  padding: 20px 25px;
  border: 0;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

/* Header Styles */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
  
}
nav li a{
  text-decoration: none;
  color: #424242;
}

/* banner-styles */

.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  max-width: 865px;
  color: #131313;
}

.banner img{
  width: 100%;
  padding-bottom: 45px;
}
/* Media Query First */
/* Mobile Devices Or Small Devices */


/* Main Styles */

main{
  max-width: 1440px;
  margin: 80px auto;
}

/* Teams Styles */

.teams-container{
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.teams-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  border-radius: 8px;
}
.teams-content{
  padding-right: 75px;
  padding-left: 75px;
  width: auto;
}
/* Span section */

.teams-title{
  font-size: 2.7rem;
}

/* features section styles */

.features{
  display: flex;
  margin-top: 130px;
  gap: 145px;
}
.features .section-title{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
.features-content .card2{
  width: 60%;
  padding: 30px;
  margin-bottom: 20px;
  margin-left: 190px;
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-image img{
  height: 89%;
  width: 100%;
  margin-left: 0px;
  margin-top: 20px;
  position: relative;
  right: 10rem;
}

.ten-year-badge{
border-radius: 8px;
background: #FF900E;
text-align: center;
color: #FFF;
width: 335px;
padding: 40px;
position: relative;
bottom: 120px;
right: 280px;

}
.head-item{
font-size: 4rem;
font-weight: 700;
margin: 0;
}

.normal-item{
  font-size: 1.5;
font-weight: 500;
}


/* span section */

.first-span{
color:#727272;
font-weight: 500;
row-gap: 10px;
}

.second-span{
  color: #131313;
font-weight: 700;
}
.third-span{
  color: #FF900E;
  font-weight: 700;
  margin-bottom: 24px;
}

/* button section else */

.button-extra{
  margin-top: 53px;
}

/* teams description */

.teams-description{
  color: #727272;
}
/* Facts section card */

.facts-cards-container{
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px;
}
.facts-cards-container, .card{
border-radius: 8px;
text-align: center;
 margin-top: 100px;
}
.card{
  border: 1px solid #FF900E;
  padding: 20px 30px;
}
.facts-cards-container, .card-stats{
  font-size: 2.8rem;
  font-weight: 600;
  color: #424242;
  margin-top: 8px;
  margin-bottom: 8px;
}
.facts-cards-container, .card-title{
  font-size: 1.25rem;
  font-weight: 600px;
  margin-top: 5px;
}

/* Sponsors section */
.main-item {
  text-align: center;
}
.sponsors-main-title{
color: #131313;
margin-bottom: 25px;
font-size: 2.8rem;
font-weight: 700;
}
.sponsors-image{
  margin-top: 50px;
   justify-content: space-evenly;
   display:flex;
   align-items: center;
   gap: 40px;
}
.sponsors-image, img{
}
/* footer section */

.footer{
  border-radius: 8px;
background: #FFF4E7;
margin-left: 12%;
margin-top: 120px;
margin-bottom: 140px;
width: 1440px;
justify-content: center;
height: 100px;
}

.footer-description{
  text-align: center;
  color: #424242;
  font-size: 20px;
  padding-top: 3%;
}







@media screen and (max-width: 576px) {
  nav{
    flex-direction: column;
  }
  header{
    padding: 20px;
  }
  .teams-container, .facts-cards-container, .sponsors-image, .features{
    flex-direction: column;
  }
  .features-image img{
    width: 80%;
    margin-left: 45%;
    margin-right: 0px;
  }
  .features .card2{
    margin-left: 23px;
  }
  .item-cut{
    margin-left: 20px;
    width: 50%;
  }
  .item-cut2{
    margin-left: 20px;
    width: 100%;
  }
  .section-title{
    margin-left: 20px;
    padding: 20px;
    margin-top: 20px;
  }
  .features-content{
    margin-right: 130px;
  }
  .ten-year-badge{
    position: static;
    max-width: 250px;
    margin-left: 10px;
  }
   .teams-image-container{
    grid-template-columns: 1fr;
  }
  .teams-content, .facts-cards-container{
    padding: 20px;
  }
  .facts-cards-container, .sponsors-image{
    gap: 25px;
  }
  
  }
 
/* Media Query */
/* Ipad type Devices Or Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav{
    flex-direction: column;
  }
.features-image img{
  flex-direction: column;
  right: 1rem;
}
  header{
    padding: 50px;
  }
   .teams-container, .sponsors-image{
    flex-direction: column;
  }
  .teams-content{
    padding-left: 20px;
  }
}